@charset "UTF-8";

footer {
    width: 100%;

    padding-top: 50px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: #225A76;
}

footer > div.footerContent {
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

footer > div.footerContent > div.logoContainer {
    height: 100%;
    width: 500px;

    display: flex;
    justify-content: right;
    align-items: center;
}

footer > div.footerContent > div.logoContainer > img {
    height: 120px;
    margin-right: 50px;
}

footer > div.footerContent > div.infoContainer {
    height: 100%;
    width: 500px;

    padding-left: 50px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

footer > div.footerContent > div.infoContainer > h2 {
    font-size: 1.7em;
    color: #FFF;
    margin-bottom: 5px;
}

footer > div.footerContent > div.infoContainer > hr {
    background-color: #3FCEF6;
    height: 4px;
    width: 50px;
    border: none;
    margin-bottom: 20px;
}

footer > div.footerContent > div.infoContainer > ul {
    list-style-type: none;
    color: #FFF;
}

footer > div.footerContent > div.infoContainer > h3 {
    margin-top: 20px;
    color: #FFF;
}


footer > div.footerContent > div.infoContainer > div.redesSociais {
    margin-top: 5px;
    
    display: flex;
    align-items: center;
    justify-content: center;
    
}

footer > div.footerContent > div.infoContainer > div.redesSociais > a {
    height: 30px;
    margin-right: 10px;
    overflow: hidden;
}

footer > div.footerContent > div.infoContainer > div.redesSociais > a > img {
    max-height: 100%;
    max-width: 100%;
    cursor: pointer;
}

footer > div.creditos {
    width: 100%;
    margin-top: 30px;
    padding: 10px;
    color: #FFF;
    text-align: center;
}

