@charset "UTF-8";

@media (max-width: 768px) {

    header {
        height: 60px;
    }

    header > a > img.hlogo {
        height: 50px;
    }

    header > nav {
        display: none;
    }

    section#inicio {
        justify-content: center;
        height: 450px;
    }

    section#inicio > div.textContainer {
        max-width: 90vw;
        margin-left: 0;
        margin-top: 20px;
    }

    section#inicio > div.textContainer > h1 {
        margin-bottom: 10px;
        font-size: 2.5em;
    }

    section#inicio > div.textContainer > p {
        font-size: 1em;
    }

    section#especialidades > h2 {
        margin-top: 30px;
        font-size: 1.5em;
    }

    section#especialidades > div.cardContainer {
        margin-bottom: 30px;
    }

    section#especialidades > div.cardContainer > a > div.card {
        height: 60px;
        width: 90vw;
        margin: 5px 0px;
    }

    section#localizacao > h2 {
        margin-top: 30px;
        font-size: 1.5em;
    }

    section#localizacao > p {
        max-width: 90%;
        font-size: 1em;
        text-align: center;
    }

    section#localizacao > div.mapContainer {
        width: 90%;
        margin-bottom: 30px;
    }

    footer {
        padding-top: 0px;
    }

    footer > div.footerContent {
        flex-direction: column;
    }

    footer > div.footerContent > div.logoContainer {
        display: none;
    }

    footer > div.footerContent > div.infoContainer {
        width: 100%;
        justify-content: center;
        align-items: center;
        padding-left: 0;

    }

    footer > div.footerContent > div.infoContainer > h2 {
        margin-top: 30px;
    }

    footer > div.footerContent > div.infoContainer > ul {
        text-align: center;
    }


}